<section class="py-5 mt-5">
  <div class="container">
  	<h1 class="my-4">Entidades</h1>
		<pager></pager>
		<div class="row mb-2">
			<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item mt-3" 
				ng-repeat="entidade in vm.items | limitTo:pageSize">
				<div class="card h-100">
					<a ng-href="#!/entidades/{{ entidade._id }}">
						<img class="card-img-top" src="http://placehold.it/500x300" alt="{{entidade.name}}">
					</a>
					<div class="card-body">
						<h4 class="card-title">
							<a ng-href="#!/entidades/{{entidade._id}}">{{entidade.name}}</a>
						</h4>
						<p class="card-text">{{entidade.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<pager></pager>
	</div>
</section>