            <div class="input-group" id="searchbar">
                <input type="text" class="form-control" placeholder="Procure por entidades..." />
                <div class="input-group-btn">
                    <div class="btn-group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" id="dropsearch">
                                <form class="form-horizontal"></form>
                                    <div class="row">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success" data-target="verificadas">Vericadas</button>
                                            <button type="button" class="btn btn-danger" data-target="naoverificadas">Não Vericadas</button>
                                            <button type="button" class="btn btn-default" data-target="all">Todos</button>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-estado">Estado</label>
                                            <select 
                                                name="estado"
                                                ng-model="selectedState" 
                                                ng-options="estado.nome for estado in estados"
                                                class="form-control" >
                                                <option value="" disabled selected>Estado</option>
                                            </select>
                                        </div>
                                        <div class="form-group" ng-show="selectedState">
                                            <label class="sr-only" for="form-cidade">Cidade</label>
                                            <select 
                                                name="cidade"
                                                ng-model="selectedCity" 
                                                ng-options="cidade for cidade in cidades"
                                                class="form-control" >
                                                <option value="" disabled selected>Cidade</option>
                                            </select>
                                        </div>
                                    </div>
                                  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>