<section class="py-5 mt-5">
    <div class="container">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Cadastre-se agora!</h3>
                </div>
            </div>
            <div class="form-bottom">
                <form name="myForm" ng-submit="signup()" role="form">
                    <!--checkbox-->
                    <div class="form-group mt-3">
                        <div class="checkbox">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" ng-model="representa">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Eu represento uma entidade!</span>
                            </label>
                        </div>
                    </div>
                    <div ng-show="representa" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Importante!</strong>
                        <p>
                            Para cadastro de entidades de caridade no nosso site é necessário submeter 
                            alguns documentos. (Ver 'Dados da Entidade' abaixo)
                        </p>
                    </div>

                    <ul class="nav nav-tabs" id="dadosDeCadastroNavTab" role="tablist">
                        <li class="nav-item">
                            <a  id="tabUsuario" 
                                class="nav-link active"
                                ng-click="handleTabs($event.currentTarget)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosUsuario">
                                    Dados do Usuário
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  id="tabEntidade" 
                                class="nav-link" 
                                ng-show="representa"
                                ng-click="representa && handleTabs($event.currentTarget)"
                                data-toggle="tab" 
                                role="tab" 
                                aria-controls="dadosEntidade">
                                    Dados da Entidade
                            </a>
                        </li>
                    </ul>

                    <div class="mt-3">
                        <div class="tab-pane active tab-content" id="dadosUsuario" role="tabpanel" ng-hide="tabEntidadeSelected && representa">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Usuário</label>
                                <input type="text" name="username" placeholder="Nome de Usuário" class="form-control" ng-model="username" required>
                                <div class="help-block" ng-show="form.username.$dirty && form.username.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Nome de Usuário é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">Nome</label>
                                <input type="text" name="firstName" placeholder="Nome" class="form-control" ng-model="firstName" required>
                                <div class="help-block" ng-show="form.firstName.$dirty && form.firstName.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Nome é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Email</label>
                                <input type="email" name="email" placeholder="Email" class="form-control" ng-model="email" required>
                                <div class="help-block" ng-show="form.email.$dirty && form.email.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Email é necessário</div>
                                </div>
                            </div>
                            <!--senha-->
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Senha</label>
                                <input type="password" name="password" placeholder="Senha" class="form-control" ng-model="password" required>
                                <div class="help-block" ng-show="form.password.$dirty && form.password.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Senha é necessária</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-repeat-password">Senha</label>
                                <input type="password" name="password2" placeholder="Repita a Senha" class="form-control" ng-model="password2" required>
                                <div class="help-block" ng-show="form.password2.$dirty && form.password2.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Senha é necessária</div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="tabEntidadeSelected && representa" class="tab-pane tab-content" id="dadosEntidade" role="tabpanel">
                            <!--inputs para entidade-->
                            <div class="form-group">
                                <label class="sr-only" for="form-razao">Razão Social</label>
                                <input type="text" name="rsocial" placeholder="Razão Social" class="form-control" ng-model="rsocial" ng-required="representa">
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Razão Social é necessária</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-fantasia">Nome Fantasia</label>
                                <input type="text" name="nomefantasia" placeholder="Nome Fantasia" class="form-control" ng-model="nomefantasia" ng-required="representa">
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">Nome Fantasia é necessário</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-fantasia">CNPJ</label>
                                <input type="text" name="CNPJ" placeholder="CNPJ" class="form-control" ng-model="CNPJ" ng-required="representa" id="CNPJ" onpaste="return false;">
                                <div class="help-block" ng-show="form.rsocial.$dirty && form.rsocial.$error.required">
                                    <div class="alert alert-danger mt-1" ng-message="required">CNPJ é necessário</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-disabled="myForm.$invalid || dataLoading" class="btn btn-primary">Cadastre-me!</button>
                        <img ng-if="dataLoading" src="../images/loading.gif" />
                        <a href="#!">Cancelar</a>
                    </div>
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</section>