<!DOCTYPE html>
<html lang="en" ng-app="warm" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mateus Abdala">
    <meta name="description" content="">

    <title>Entidades - Listagem</title>

    <!-- Angular JS -->
    <script src="../lib/angularjs/angular.min.js"></script>
    <script src="../module/app.js"></script>
    <script src="../directive/dir.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../lib/css-custom/4-col-portfolio.css" rel="stylesheet">

    <!-- Font-Awesome for icon -->
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">

  </head>

  <body ng-controller="CaridadeController as caridade">
    {{'angular'+' funcionando'}} 
    <barranavegacao></barranavegacao>
    <!--<div ng-include="'../directive/barranavegacao.html'"></div>-->

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Entidades
        <small><span class="glyphicon glyphicon-search"></span></small>
      </h1>

      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" ng-repeat="entidade in caridade.entidades | orderBy:'nome'">
          <div class="card h-100" ng-controller="GalleryController as gallery">
            <a href="#"><img class="card-img-top" src="{{entidade.images[gallery.imageIndex]}}" alt="{{entidade.nome}}"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{entidade.nome}}</a>
              </h4>
              <p class="card-text">{{entidade.descricao}}</p>
            </div>
          </div>
        </div>


      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <rodape></rodape>

    <!-- Bootstrap core JavaScript (colocado no final a pagina carrega mais rapido)-->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/popper/popper.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>